@font-face {
  font-family: 'circular';
  src: url('../css/circular-std/CircularStd-Medium.otf');
}

@font-face {
  font-family: 'test';
  src: url('../css/circular-std/CircularStd-Book.otf');
}

body {
    filter: contrast(140%) brightness(100%);
    background: 
      linear-gradient(206deg, rgba(117,255,144,0.62), rgba(15,201,220,1)),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6.97' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    height: 100vh;
    
}


#title {
    position: relative;
    font-family: 'test';
    font-size: 150px;
    color: rgba(255, 255, 255, 0.9);
}

#description {
  position: relative;
  font-family: 'test';
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 150px;
  margin-top: -80px;
}

.ButtonEnter {
    border: none;
    outline: none;
    height: 70px;
    width: 180px;
    font-size: 30px;
    font-family: 'test';
    border-radius: 40px;
    color: rgba(98, 205, 180, 0.715);
    background: white;
    transition: 0.3s ease;
  }

  .ButtonEnter:Hover {
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0 0 5px #ffffffab,
                0 0 20px #ffffffab,
                0 0 60px #ffffffab,
                0 0 150px #ffffffab;
  }

.container {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
  }

.mainMenu {
    text-align: center;
    padding-top: 180px;
   }