@font-face {
    font-family: 'circular';
    src: url('../css/circular-std/CircularStd-Medium.otf');
  }
  
@font-face {
    font-family: 'test';
    src: url('../css/circular-std/CircularStd-Book.otf');
}
  
body {
    filter: contrast(140%) brightness(100%);
    background: 
        linear-gradient(206deg, rgba(117,255,144,0.62), rgba(15,201,220,1)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6.97' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    height: 100vh;
    display: block;
      
}

.container {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
  }

#title {
    position: relative;
    font-family: 'circular';
    font-size: 75px;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 150px;
}

#results {
    position: relative;
    display: inline-block;
    text-align: left;
    font-family: 'circular';
    font-size: 35px;
    color: rgba(255, 255, 255, 0.9);
}

.info {
    align-items: center;
    text-align: center;

}

#recommendedComposers {
    position: relative;
    display: inline-block;
    text-align: right;
    font-family: 'circular';
    font-size: 35px;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 400px;
    margin-top: -20px;
}

#second {
    color: rgba(255, 255, 255, 0.8);
}

#third {
    color: rgba(255, 255, 255, 0.8);
}

#fourth {
    color: rgba(255, 255, 255, 0.8);
}