@font-face {
    font-family: 'circular';
    src: url('../css/circular-std/CircularStd-Medium.otf');
  }
  
  @font-face {
    font-family: 'font';
    src: url('../css/circular-std/CircularStd-Book.otf');
  }

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.stage {
    display: flex;
    height: 100vh;
    position: relative;
}

.sides {
    flex: 1;
    display: flex;
    position: relative;
    align-items: center;
    width: 100px;
}

.left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left {
    background-color: white;
}

#right {
    background-color: white;
}

#left:hover {
    cursor: pointer;
}

#right:hover {
    cursor: pointer;
}

.trackTitle {
    text-align: center;
    font-family: 'circular';
    font-size: 30px;
    color: rgba(0, 0, 0);
}

.description {
    text-align: center;
    font-family: 'font';
    font-size: 15px;
    color: rgb(149, 149, 149);
    margin-top: -10px;
    margin-bottom: 30px;
}

.img {
    width: 35px;
    height: 35px;
    transform: translate(-7px, 2px);
}

.container {
    height: 64px;
    border-radius: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    margin-top: 100px;
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.3s ease;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.container:hover {
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0 0 5px #ffffffab,
                0 0 20px #ffffffab,
                0 0 60px #ffffffab,
                0 0 150px #ffffffab;
}

.externalPlayerBtn {
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    display: inline-block;
}

.externalPlayerText {
    font-size: 15px;
    font-family: 'circular';
    display: inline-block;
    transform: translate(-1px, 0px);
}

.albumCover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#roundTracker {
    position: absolute;
    top: 93%;
    left: 0%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: 'circular';
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.069);
    width: 60px;
    height: 24px;
    padding: 5px;
    border-radius: 20px;
}

.sides {
    mix-blend-mode: hard-light;
}
